* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-family: system-ui, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /*background-color: DodgerBlue;*/
    background: #0f2027; /* fallback for old browsers */
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 80%;
}

body * {
    align-self: center;
}

h1 {
    text-align: center;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 70px;

    letter-spacing: 4px;
    word-spacing: -8px;
    color: tomato;
    text-shadow:
            -1px -1px 0 firebrick,
            -2px -2px 0 firebrick,
            -3px -3px 0 firebrick,
            -4px -4px 0 firebrick,
            -5px -5px 0 firebrick,
            -6px -6px 0 firebrick,
            -7px -7px 0 firebrick,
            -8px -8px 0 firebrick,
            -30px 20px 40px dimgrey
}

body > div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}


.inputs {
    display: flex;
    flex-direction: row;
}

.meta {
    display: flex;
    flex-direction: column;

    margin: 20px 20px 20px 20px;
    padding: 10px;
}

.meta-label {
    font-family: "Baskerville Old Face", serif;
}

.meta-input {
    font-size: 20px;
    align-self: center;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}

.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}

#cats {
    /*display: none;*/
    width: 60%;
    /*display: flex;*/
    flex-wrap: wrap;
    flex-direction: column;
}

.cat-button {
    display: flex;
    flex-direction: row;

    border-radius: 15px;
    background-color: transparent;
}

button {
    margin: 5px;
    text-align: center;
    background-color: green;
    border: none;
    color: #333;
    font-size: 1.25rem;
    font-weight: 700;
    justify-self: center;
    padding: 0.5rem 1rem;
}

.cat-button > * {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px;
    background-color: green;
}

.cat-button.checked > * {
    background-color: orangered;
    border: #ff00c8;
    border-radius: 5px;
    color:black;
}


.cat-button > .text {
    width: 500px;
}

.cat-button > .number {
    width: auto;
}

#selected_div > button {
    background-color: orangered;
    width: auto;
}

div:empty {
    display: none;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
